body{
  margin:0px;  
}
.why_header_text{
  
  color:rgb(17, 17, 102);
  margin-bottom:30px ;
  
}
.why_header{
    background-image: url("./assets/background1.jpg");
    background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
    min-height: 400px;
    height:80vh;
    top:0px;
    
    width:100%;
}
.why_scndnav_p{
    color:black;
    font-size: 15px;
    font-weight: 600;
    padding:10px ;
    text-align: center;
}
.why_bl_p1{
    color: rgb(26, 26, 131);
    font-weight: 900;
    font-size: 12px;
}
.why_bl_p1::before{
    content:"1 in 10";
    font-size:30px ;
    font-weight: 600;
    
}
.why_bl_p1::after{
    content:"across the globe are associated with Editage";
    font-size:15px ;
    font-weight: 600;
   
    display:block;

}
.why_sec_2h1,.why_sec_2h2,.why_sec_2h3{
    color:black;
     font-weight: 900;
     font-size:20px ;
     padding:5px;
     margin-bottom: 0px; 
     line-height: 30px;
     margin-bottom:20px ;
}
.why_sec_2h1::before{
    content:"Perfection";
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    color:blueviolet;
    font-weight:500;
    line-height: 25px;
}
.why_sec_2h2::before{
    content:"Smart & Accurate";
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    color:blueviolet;
    font-weight:500;
}
.why_sec_2h3::before{
    content:"Comprehensive";
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    color:blueviolet;
    font-weight:500;
}
.why_our_c .p1{
    padding:10px;
    font-size:17px ;
    color:black;

}


.sticky-top2{
  position:sticky;
  top:60px; 
  z-index:1019; 
}

